body {
font-family: 'EB Garamond', serif !important;

}

header {
  text-align: center;
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url("img/pano.jpg");
}

.social-media-menu {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

#categories-container {
  background-color: #1C2833;
}

.categories-menu {
  padding: 30px;
  margin: 0 auto;
  width: 820px;
  font-family: 'Montserrat', sans-serif;
}

.categories-menu-2 {
  padding: 100px;
  margin: 0 auto;
  width: 800px;
}

div.category {
  height: 150px;
  font-size: 40px;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid white;
  line-height: 100px;
  text-align: center;
  color: white;
}

div.category:hover {
  background-color: rgb(0,0,0);
  cursor: pointer;
}

div.categories-content {
  font-size: 20px;
  line-height: 25pt;
}

div.category2 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif !important;
  padding: 10px;
  border: 1px solid #42DCA3;
  line-height: 20px;
  text-align: center;
  color: #42DCA3;
  display: inline-block;
  -webkit-transition: background-color 0.5s; /* For Safari 3.1 to 6.0 */
   transition: background-color 0.5s;
}

div.category2:hover {
  cursor: pointer;
  color: #1C2833;
  background-color: #42DCA3;
}

#honors_button {
  font-size: 25pt !important;
  line-height: 35pt;
}

#research_button {
  font-size: 25pt !important;
  line-height: 35pt;
}

#education-container {
  background-image: url("img/vtech2.jpg");
  background-position: 50% 80%;
  color: white;
  background-size: cover;
}

#experience-container {
  background-image: url("img/island2.jpg");
  background-position: 50% 50%;
  color: white !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}

#research-container {
  background-image: url("img/mitchell2.jpg");
  background-position: 100% 100%;
  color: white !important;
  background-size: cover;
}

#projects-container {
  background-image: url("img/woods2.jpg");
  background-position: 50% 50%;
  color: white !important;
  background-size: cover;
}

#honors-container {
  background-position: 25% 25%;
  background-image: url("img/coast2.jpg");
  color: white;
  background-size: cover;
}

#contact-container {
  background-color: #1C2833;
  text-align: center;
  color: white;
}

a.scrollToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
}

.btn-dark {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.btn-dark:hover {
  color: #808080;
}

.experience {
  display: none;
}

footer {
  color: white;
  text-align: center;
  background-color: #1C2833;
  padding-bottom: 10px;
}
